table {
  border: 1px solid #5c743d;
  width: 600px;
  border-spacing: 0;
<<<<<<< HEAD
  margin:auto;
}
td, th {
  padding: 5px;
  font-family: arial sans-serif;

}
caption {
  font-family: Verona sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 5px;

}
tr:nth-of-type(even) {
  background-color: #eaeaea;
}
tr:first-of-type (even) {
background-color: #666;
color: #eaeaea
}
=======
  margin: auto;
  }
td, th {
  padding: 5px;
  font-family: arial, sans-serif;
  }
caption {
  font-family: Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 5px;
}
tr:nth-last-of-type(even) {
  background-color: #eaeaea;
}
>>>>>>> newbranch
